/* common shared styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  padding: 15px 35px 16px 36px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}

nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 51px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  padding: 30px 30px 0px 150px;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-greetting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
}
.banner .profile-pic {
  width: 500px;
}
.banner-content {
  max-width: 550px;
}
.para-content {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
/* main section styles */
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px;
  margin: 130px 0;
}

/* main about section styles */
